@import "tailwindcss";

html {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-shadow-soft {
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
}

.button-background-gradient {
    background: linear-gradient(to right,
            #f59e0b,
            /* amber-500 */
            #ffb432
            /* custom color */
        );
}