@import "tailwindcss";

:root {
    --color-red-primary: #9E0E11;
    --color-amber-gradient-from: #f59e0b;
    --color-amber-gradient-to: #ffb432;
    --color-gray-primary: #EEEEEE;
}

html {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-shadow-soft {
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
}

.button-background-gradient {
    background: linear-gradient(to right,
            var(--color-amber-gradient-from),
            var(--color-amber-gradient-to)) !important;
}