/* Quantity Input */
.quantity-input .ant-input-number-action {
    border: none !important;
}

/* Add to Cart Button */
.add-to-cart-button .ant-btn-icon {
    display: flex;
}

.add-to-cart-button {
    background: linear-gradient(to right,
            var(--color-amber-gradient-from),
            var(--color-amber-gradient-to)) !important;
}